apiVersion: apps/v1
kind: Deployment
metadata:
  name: database-deployment
  labels:
    app: mysql
spec:
  replicas: 3
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: database-container
        image: 061188934096.dkr.ecr.us-east-1.amazonaws.com/database-repository:v0.1
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: pass1234